<% provide(:title, 'Register') %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class='well'>
      <div id='registration_form1'>
        <div class="row">
          <div class="span7 offset4">
            <h3>Let's Get Started!</h3>
            <% if current_user && current_user.type == 'Employee' && signed_in? %>
                <div class="field">
                  <%= f.label :type %>
                  <%= f.select :type, options_for_select(['Employee', 'Customer']) %>
                </div>
            <% end %>
            <div class="field">
              <%= f.label :email %>
              <%= f.email_field :email, :autofocus => true %>
            </div>
            <div class="field">
              <%= f.label :password %>
              <%= f.password_field :password, :autocomplete => "off" %>
            </div>
            <div class="field">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, :autocomplete => "off" %>
            </div>
            <div class="field">
              <%= f.label :dob, :dob.to_s.upcase %>
              <%= f.text_field :dob, :class=>"hasdatepicker"%>
            </div>

            <button id='registration_form1_next' class='btn'>Next &rarr;</button>
          </div>
        </div>

      </div>

      <div id='registration_form2'>
        <div class="row">
          <div class="span7 offset4">
            <h3>Who you is?</h3>

            <div class="field">
              <%= f.label :salutation %>
              <%= f.select(:salutation_id, Salutation.all.map { |s| [s.name, s.id] }) %>
            </div>
            <div class="field">
              <%= f.label :first_name %>
              <%= f.text_field :first_name %>
            </div>
            <div class="field">
              <%= f.label :last_name %>
              <%= f.text_field :last_name %>
            </div>
            <div class="field">
              <%= f.label :last_name_suffix_id %>
              <%= f.select(:last_name_suffix_id, LastNameSuffix.all.map { |lns| [lns.name, lns.id] },
                           :include_blank => true,
                           :prompt => 'Select A Suffix...') %>
            </div>
            <button id='registration_form2_previous' class='btn'>&larr; Previous</button>
            <button id='registration_form2_next' class='btn'>Next &rarr;</button>
          </div>
        </div>
      </div>

      <div id='registration_form3'>
        <div class="row">
          <div class="span7 offset4">
            <h3>Next, numbers!</h3>

            <div class="field">
              <%= f.label :home_phone %>
              <%= f.text_field :home_phone %>
              <sub> Format: 123-456-7890</sub>
            </div>
            <div class="field">
              <%= f.label :cell_phone %>
              <%= f.text_field :cell_phone %>
              <sub>Format: 123-456-7890</sub>
            </div>
            <button id='registration_form3_previous' class='btn'>&larr; Previous</button>
            <button id='registration_form3_next' class='btn'>Next &rarr;</button>
          </div>
        </div>
      </div>

      <div id='registration_form4'>
        <div class="row">
          <div class="span7 offset4">
            <h4>We won't send you junk mail. Scout's honor!</h4>

            <div class="field">
              <%= f.label :address %>
              <%= f.text_field :address %>
            </div>
            <div class="field">
              <%= f.label :address2 %>
              <%= f.text_field :address2 %>
            </div>
            <div class="field">
              <%= f.label :city %>
              <%= f.text_field :city %>
            </div>
            <div class="field">
              <%= f.label :state %>
              <%= f.select(:state_id, State.all.map { |s| [s.name, s.id] }) %>
            </div>
            <div class="field">
              <%= f.label :postal_code %>
              <%= f.text_field :postal_code %>
              <sub> Format: 12345 or 12345-6789</sub>
            </div>
            <button id='registration_form4_previous' class='btn'>&larr; Previous</button>
            <%= f.submit "Sign up", :class => 'btn btn-success' %>
          </div>
        </div>
      </div>
    </div>

<% end %>
