<table class="table table-condensed">
  <thead>
    <tr>
      <th>Instruction Unit</th>
      <th>Completion Date</th>
    </tr>
  </thead>
  <tbody>
    <% completed = [] %>
    <% @completed_units.each do |cp| %>
      <% completed.push cp.instruction_unit %>
      <tr class="alert-success">
        <td><%= cp.instruction_unit.name %></td>
        <td><%= cp.created_at.strftime('%m/%d/%Y') %></td>
      </tr>
    <% end %>
    <% @all_units = InstructionUnit.where(:course => @enrollment.section.course).all %>
    <% (@all_units - completed).each do |not_taken| %>
      <tr class="alert-error">
        <td><%= not_taken.name %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
  <!--
  <tbody>
    <% InstructionUnit.where(:course => @enrollment.section.course).all.each do |instruction_unit| %>
      <% if @completed_units.include? instruction_unit %>
        <tr class="alert-success">
      <% else %>
        <tr class="alert-error">
      <% end %>
        <td><%= instruction_unit.name %></td>
      </tr>
    <% end %>
  </tbody>
  -->
</table>
