<%= form_for([@course, @course_prerequisite]) do |f| %>
  <% if @course_prerequisite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_prerequisite.errors.count, "error") %> prohibited this course_prerequisite from being saved:</h2>

      <ul>
      <% @course_prerequisite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h4><%= @course.name %> <%= f.select :allow_concurrent, { 'Can' => true, 'Cannot' => false } %> be take concurrently with <%= @course_prerequisite.prerequisite.name %></h4>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
