<h1>Listing course_prerequisites</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Course</th>
      <th>Prerequisite Course</th>
      <th>Concurrent Enrollment?</th>
    </tr>
  </thead>

  <tbody>
    <% @course_prerequisites.each do |course_prerequisite| %>
      <tr>
        <td><%= course_prerequisite.course.name %></td>
        <td><%= course_prerequisite.prerequisite.name %></td>
        <td><%= course_prerequisite.allow_concurrent.to_s.upcase %></td>
        <td><%= link_to 'Show', course_course_prerequisite_path(course_prerequisite.course, course_prerequisite.prerequisite) %></td>
        <td><%= link_to 'Edit', edit_course_course_prerequisite_path(course_prerequisite.course, course_prerequisite.prerequisite) %></td>
        <td><%= link_to 'Destroy', course_course_prerequisite_path(course_prerequisite.course, course_prerequisite.prerequisite), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course prerequisite', new_course_course_prerequisite_path %>
