<p id="notice"><%= notice %></p>
<h4><%= "#{@course.name} #{@course_prerequisite.allow_concurrent ? 'CAN' : 'CANNOT'} be take concurrently with #{@course_prerequisite.prerequisite.name}" %></h4>
<%= link_to 'Edit', edit_course_course_prerequisite_path(@course,@course_prerequisite) %> |
<%= link_to 'Back', course_course_prerequisites_path %>
