<% provide(:title, 'Courses') %>

<div class="row">
  <div class="span3">
    <div class="row">
      <div class="span3">
        <select>
            <option>Course</option>
        </select>
      </div>

    </div>
    <div class="row">
      <div class="span3">
        <input type="text" class="datepicker" placeholder="Start Date">
        <input type="text" class="datepicker" placeholder="End Date">
      </div>

    </div>
    <div class="row">
      <div class="span3">
        <table class="table table-striped">
          <thead>
          <tr>
            <td>
              Course
            </td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              Name
            </td>
          </tr>
          <tr>
            <td>
              Name
            </td>
          </tr>
          <tr>
            <td>
              Name
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
  <div class="span1">
    Buttons
  </div>
  <div class="span4">
    Course Info
  </div>
  <div class="span4">
    Enrolled
  </div>
</div>