<%= form_for (@customer || @employee), :html => { :class => 'form-horizontal' } do |f| %>
    <div class='well' style="height: 450px">
      <div id='registration_form1'>

        <div class="field">
          <%= f.label :email %>
          <br/>
          <%= f.email_field :email, :autofocus => true %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <br/>
          <%= f.password_field :password, :autocomplete => "off" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %>
          <br/>
          <%= f.password_field :password_confirmation, :autocomplete => "off" %>
        </div>
        <div class="field">
          <%= f.label :dob, :dob.to_s.upcase %>
          <br>
          <%= f.text_field :dob, :class => 'datepicker', :readonly => true %>
        </div>

        <button id='registration_form1_next' class='btn btn-small btn-info'>Next &rarr;</button>
      </div>

      <div id='registration_form2'>
        <div class="field">
          <%= f.label :salutation %>
          <br>
          <%= f.select(:salutation_id, Salutation.all.map { |s| [s.name, s.id] }) %>
        </div>
        <div class="field">
          <%= f.label :first_name %>
          <br>
          <%= f.text_field :first_name %>
        </div>
        <div class="field">
          <%= f.label :last_name %>
          <br>
          <%= f.text_field :last_name %>
        </div>
        <div class="field">
          <%= f.label :last_name_suffix_id %>
          <br>
          <%= f.select(:last_name_suffix_id, LastNameSuffix.all.map { |lns| [lns.name, lns.id] }, :include_blank => true) %>
        </div>
        <button id='registration_form2_previous' class='btn btn-small btn-info'>&larr; Previous</button>
        <button id='registration_form2_next' class='btn btn-small btn-info'>Next &rarr;</button>
      </div>

      <div id='registration_form3'>
        <div class="field">
          <%= f.label :home_phone %>
          <br/>
          <%= f.text_field :home_phone %>
          <sub> Format: 123-456-7890</sub>
        </div>
        <div class="field">
          <%= f.label :cell_phone %>
          <br/>
          <%= f.text_field :cell_phone %>
          <sub> Format: 123-456-7890</sub>
        </div>
        <button id='registration_form3_previous' class='btn btn-small btn-info'>&larr; Previous</button>
        <button id='registration_form3_next' class='btn btn-small btn-info'>Next &rarr;</button>
      </div>

      <div id='registration_form4'>
        <div class="field">
          <%= f.label :address %>
          <br>
          <%= f.text_field :address %>
        </div>
        <div class="field">
          <%= f.label :address2 %>
          <br>
          <%= f.text_field :address2 %>
        </div>
        <div class="field">
          <%= f.label :city %>
          <br>
          <%= f.text_field :city %>
        </div>
        <div class="field">
          <%= f.label :state %>
          <br>
          <%= f.select(:state_id, State.all.map { |s| [s.name, s.id] }) %>
        </div>
        <div class="field">
          <%= f.label :postal_code %>
          <br/>
          <%= f.text_field :postal_code %>
          <sub> Format: 12345 or 12345-6789</sub>
        </div>
        <button id='registration_form4_previous' class='btn btn-small btn-info'>&larr; Previous</button>
      </div>
    </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                root_path, :class => 'btn' %>
  </div>
<% end %>

<script>
    $('document').ready(function(){

        function set_form(form_h, form_s){
            form_s.show();
            if (form_h){ form_h.hide()};
            bind_buttons();
        }

        function bind_buttons(){
            $('#registration_form1_next').on('click', function(e){
                e.preventDefault();
                set_form($('#registration_form1'),$('#registration_form2'));
            });

            $('#registration_form2_previous').on('click', function(e){
                e.preventDefault();
                set_form($('#registration_form2'),$('#registration_form1'));
            });
            $('#registration_form2_next').on('click', function(e){
                e.preventDefault();
                set_form($('#registration_form2'),$('#registration_form3'));
            });

            $('#registration_form3_previous').on('click', function(e){
                e.preventDefault();
                set_form($('#registration_form3'),$('#registration_form2'));
            });
            $('#registration_form3_next').on('click', function(e){
                e.preventDefault();
                set_form($('#registration_form3'),$('#registration_form4'));
            });

            $('#registration_form4_previous').on('click', function(e){
                e.preventDefault();
                set_form($('#registration_form4'),$('#registration_form3'));
            });
        }

        set_form(null, $('#registration_form1'));
        $('#registration_form2').hide();
        $('#registration_form3').hide();
        $('#registration_form4').hide();

        $('.datepicker').datepicker({dateFormat: 'yy-mm-dd'})
    });
</script>