<% provide(:title, 'Profile') %>
<div id="container">
  <div class="row">
    <div class="span3">
      <%= render :partial => 'users/user_contact' %>
      <%= render :partial => 'users/user_controls' %>
    </div>
    <div class="span9" id="response_area">
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal large fade" id="user_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> </h4>
      </div>
      <div class="modal-body">

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->