<% if @customer %>
    <%= link_to customer_transactions_path(@customer), :id => 'new_payment', :remote => true do %>
        <button class="btn usr-ctrl">
          <img src="/images/home/transaction_hist.png" width="50" height="50" alt="Transaction History"/></button>
    <% end %>
    <%= link_to customer_enrollments_path(@customer), :id => 'view_enrollments', :remote => true do %>
        <button class="btn usr-ctrl"><img src="/images/home/courses.png" width="50" height="50" alt="Enrollment"/>
        </button>
    <% end %>
    <%= link_to edit_customer_path(@customer), :id => 'edit_user', :remote => true do %>
        <button class="btn usr-ctrl"><img src="/images/users/edit_item.png" width="50" height="50" alt="Edit Customer"/>
        </button>
    <% end %>
<% elsif @employee %>
    <%= link_to employee_sections_path(@employee), :id => 'view_sections', :remote => true do %>
        <button class="btn usr-ctrl">
          <img src="/images/home/course_mgmt.png" width="50" height="50" alt="Instructor Courses"/></button>
    <% end %>
    <%= link_to edit_employee_path(@employee), :id => 'edit_user', :remote => true do %>
        <button class="btn usr-ctrl"><img src="/images/users/edit_item.png" width="50" height="50" alt="Edit Employee"/>
        </button>
    <% end %>
<% end %>

<div id="button_title" style="position: absolute;
                              text-align: center;
                              font-size: large;
                              margin-top: 15px;
                              width: 163px;">

</div>