<% @user = (@customer || @employee) %>

<h4><%= @user.full_name %></h4>
<%= @user.full_address.html_safe %><br>
<br>
<br>
<table class="table table-striped">
  <tr>
    <th>Email:</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>Home Phone:</th>
    <td><%= @user.home_phone %></td>
  </tr>
  <tr>
    <th>Cell Phone:</th>
    <td><%= @user.cell_phone %></td>
  </tr>
  <tr>
    <th>Date of Birth:</th>
    <td><%= @user.dob.strftime('%m/%d/%Y') %></td>
  </tr>
</table>

<h5 id="balance_due"><%= sprintf 'Balance Due: $%.2f', @user.balance if @customer %></h5>
