<% provide(:title, 'People') %>
<%- model_class = User -%>

<div class="row">
  <table id="users_table" class="table table-condensed">
    <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Phone</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @users.all.each do |user| %>
        <tr id="<%= user.id %>">
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.cell_phone %></td>
          <td><%= link_to 'View Profile', user_path(user), :class => 'btn btn-mini btn-inverse' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

</div>