<% if current_user && current_user.type == 'Employee' %>
    <% provide(:title, 'Menu') %>
    <div class="row">
      <div class="span2 "></div>
      <div class="span2 text-center">
        <button class='btn main-nav'><%= link_to image_tag("/images/home/people.png", :border=>0, :width=>200, :height=>200), :action => 'index', :controller => 'users', :class => 'btn' %></button></br>
        People
      </div>
      <div class="span2 text-center">
        <button class='btn main-nav'><%= link_to image_tag("/images/home/item_pay.png", :border=>0, :width=>200, :height=>200), :action => 'index', :controller => 'users', :class => 'btn' %></button></br>        Pay
      </div>
      <div class="span2 text-center">
        <button class='btn main-nav'><%= link_to image_tag("/images/home/courses.png", :border=>0, :width=>200, :height=>200), :action => 'index', :controller => 'users', :class => 'btn' %></button></br>        Course
      </div>
      <div class="span2 text-center">
        <button class='btn main-nav'><%= link_to image_tag("/images/home/attendance.png", :border=>0, :width=>200, :height=>200), :action => 'index', :controller => 'users', :class => 'btn' %></button></br>        Attendance
      </div>
    </div>
    </br>
    <div class="row">
      <div class="span2"></div>
      <div class="span2 text-center">
        <button class='btn main-nav'><%= link_to image_tag("/images/home/user_mgmt.png", :border=>0, :width=>200, :height=>200), :action => 'index', :controller => 'users', :class => 'btn' %></button></br>        User Management
      </div>
      <div class="span2 text-center">
        <button class='btn main-nav'><%= link_to image_tag("/images/home/transaction_hist.png", :border=>0, :width=>200, :height=>200), :action => 'index', :controller => 'users', :class => 'btn' %></button></br>        Transaction Management
      </div>
      <div class="span2 text-center">
        <button class='btn main-nav'><%= link_to image_tag("/images/home/course_mgmt.png", :border=>0, :width=>200, :height=>200), :action => 'index', :controller => 'users', :class => 'btn' %></button></br>        Course Management
      </div>
      <div class="span2">
        <!-- NO CONTENT YET -->
      </div>
    </div>

<% elsif current_user && current_user.is_customer? %>
    <script>
      window.location.href = '<%= customer_path(current_user) %>'
    </script>
<% else %>
    <script>
      window.location.href = '<%= new_user_session_path %>'
    </script>
<% end %>