<div id="sections">
  <table id="sections_table" class="table table-condensed table-hover">
    <thead>
    <tr>
      <th>Course</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Times</th>
      <th></th>
    </tr>
    </thead>

    <tbody id="sections_body">
    <% @sections.each do |section| %>
        <tr id="<%= section.id %>">
          <td><%= section.course.name %></td>
          <td><%= section.start_time.strftime('%m/%d/%Y') %></td>
          <td><%= section.end_time.strftime('%m/%d/%Y') %></td>
          <td><%= section.start_time.strftime('%H:%M') + ' - ' + section.end_time.strftime('%H:%M') %></td>
          <td>
            <div class="btn-group">
              <%= link_to section_enrollments_path(section), :remote => true do %>
                  <button class="btn btn-mini btn-inverse">View Enrollment</button>
              <% end %>
              <%= link_to new_section_attendance_path(section), :remote => true do %>
                  <button class="btn btn-mini btn-inverse">Take Attendance</button>
              <% end %>
            </div>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>