<% if @employee %>
    <%= render :partial => 'employee_index' %>
<% else %>
<div id="sections">
  <table id="sections_table" class="table table-condensed table-hover">
    <thead>
    <tr>
      <th>Course</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Times</th>
      <th></th>
    </tr>
    </thead>

    <tbody id="sections_body">
    <% @sections.each do |section| %>
        <tr id="<%= section.id %>" style="cursor: pointer;">
          <td><%= section.course.name %></td>
          <td><%= section.start_time.strftime('%m/%d/%Y') %></td>
          <td><%= section.end_time.strftime('%m/%d/%Y') %></td>
          <td><%= section.start_time.strftime('%H:%M') + ' - ' + section.end_time.strftime('%H:%M') %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% end %>