$(document).ready(function(){
    var selected_section_id = null;

    function setSection(section_id) {
        selected_section_id = section_id;
    };

    $('#response_area').html('<%= j render :template => 'sections/index.html.erb' %>')

    $('#sections_table tbody tr .btn').css('opacity', 0);

    $('#sections_table tbody tr').hover(
        function () {
            setSection($(this).attr('id'));
            $(this).find('button').css('opacity', 1);
        },
        function () {
            $(this).find('button').css('opacity', 0);
        }
    );
});