<% if !@enrollments.empty? %>
    <table class="table table-condensed table-hover">
      <caption><h4>Current Enrollment</h4></caption>
      <thead>
      <tr>
        <th>Instructor</th>
        <th>Course</th>
      </tr>
      </thead>

      <tbody>
      <% @enrollments.each do |enrollment| %>
          <tr>
            <td><%= enrollment.section.employee.full_name %></td>
            <td><%= enrollment.section.course.name %></td>
            <td>
              <div class="btn-group">
                <%= link_to 'Details', customer_enrollment_path(enrollment.customer, enrollment), :class => 'btn btn-mini btn-inverse', :remote => true %>
                <%= link_to 'Unenroll',customer_enrollment_path(enrollment.customer, enrollment), :class => 'btn btn-mini btn-inverse', method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <br>
<% else %>
    <div style="text-align: center"><h4>No Enrollments</h4></div>
<% end %>
<% if @customer %>
    <div style="text-align: center">
      <%= link_to 'Enroll In A New Course', new_customer_enrollment_path(@customer), :class => 'btn btn-inverse', :remote => true %>
    </div>
<% end %>
