<p id="notice"><%= notice %></p>
<table class="table table-condensed table-hover">
  <thead>
  <tr>
    <th>Instructor</th>
    <th>Location</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Times</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @enrollment.section.employee.full_name %></td>
    <td><%= @enrollment.section.location.address %></td>
    <td><%= @enrollment.section.start_time.strftime('%m/%d/%Y') %></td>
    <td><%= @enrollment.section.end_time.strftime('%m/%d/%Y') %></td>
    <td><%= @enrollment.section.start_time.strftime('%H:%M') + ' - ' + @enrollment.section.end_time.strftime('%H:%M') %></td>
  </tr>
  </tbody>
</table>

<div>
  <h4>Course Progress</h4>
  <%-
      #
      #The controller action is not run when rendering a partial.
      #
      @not_taken        = InstructionUnit.where(:course => @enrollment.section.course).all
      @completed_units  = CourseProgress.where(:section => @enrollment.section, :customer => @enrollment.customer).all
      @completed_units.each do |cp|
        @not_taken.delete_if {|nt| nt == cp.instruction_unit}
      end

  %>
  <%= render :template => 'course_progresses/index.html.erb', :locals => {:@completed_units => @completed_units,
                                                                          :@not_taken       => @not_taken} %>
</div>