<div id="enrollments_table">
  <% if !@enrollments.empty? %>
      <table class="table table-condensed table-hover">
        <caption><h4>Current Enrollment</h4></caption>
        <thead>
        <tr>
          <th>Customer</th>
          <th>Course</th>
        </tr>
        </thead>

        <tbody>
        <% @enrollments.each do |enrollment| %>
            <tr>
              <td><%= enrollment.customer.full_name %></td>
              <td><%= @section.course.name %></td>
              <td>
                <div class="btn-group">
                  <%= link_to 'Details', section_enrollment_path(enrollment.section, enrollment), :class => 'btn btn-mini btn-inverse', :remote => true %>
                  <%= link_to 'Drop From Course', section_enrollment_path(enrollment.section, enrollment), :class => 'btn btn-mini btn-inverse', method: :delete, data: {confirm: 'Are you sure?'}, :remote => true %>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% else %>
      <div style="text-align: center"><h4>No Enrollments</h4></div>
  <% end %>
</div>
<div style="text-align: center">
  <%= link_to 'Back To Sections', employee_sections_path(@section.employee), :class => 'btn btn-mini btn-inverse', :remote => true %>
</div>

