<p id="notice"><%= notice %></p>
<table class="table table-condensed table-hover">
  <thead>
  <tr>
    <th>Location</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Times</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @enrollment.section.location.address %></td>
    <td><%= @enrollment.section.start_time.strftime('%m/%d/%Y') %></td>
    <td><%= @enrollment.section.end_time.strftime('%m/%d/%Y') %></td>
    <td><%= @enrollment.section.start_time.strftime('%H:%M') + ' - ' + @enrollment.section.end_time.strftime('%H:%M') %></td>
  </tr>
  </tbody>
</table>

<div>
  <h4>Attendance History</h4>
  <%= render :partial => 'attendances/employee_index', :locals => {:@attendances => @enrollment.attendances} %>
</div>