<%= form_for [@customer, @enrollment], :remote => true do |f| %>
    <% if @enrollment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

          <ul>
            <% @enrollment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :section_id %>
      <br>
      <%= f.hidden_field :section_id %>
      <select class="courses">
      <% Course.all.each do |course| %>
        <option value="<%= course_sections_path(course) %>">
          <%= course.name %>
        </option>
      <% end %>
      </select>

      <div id="sections_response_area">

      </div>
    </div>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
