<% if @customer %>
//called from the customer profile. refresh data
$('#view_enrollments').click();
$.ajax({
    url: '<%= customer_path(@customer) %>',
    complete: function (xhr) {
        var response = $($.parseHTML(xhr.responseText)).find('#balance_due').html();
        $('#balance_due').html(response);
    }
});
<% else %>
//called from the employee profile. reload the sections/enrollments view
$.ajax({
    url: '<%= section_enrollments_path(@section) %>',
    complete: function (xhr) {
        var response = $($.parseHTML(xhr.responseText)).find('#enrollments_table').html();
        $('#response_area').html(response);
        console.log(response)
    }
});
<% end %>