$(document).ready(function(){
    function refreshTable(url){
        $.ajax({
            url: url,
            dataType: 'html',
            complete: function(xhr){
                var response = $($.parseHTML(xhr.responseText)).find('#sections').html()
                //console.log(response)
                $('#sections_response_area').html(response)
                var id = parseInt($('#enrollment_section_id').val(), 0)
                $('#sections_body tr').each(function(){
                    if($(this).attr('id') == id){
                        $(this).toggleClass('alert-success')
                    }else{
                        $(this).removeClass('alert-success')
                    }
                });
                $('#sections_body tr').on('click', function(){
                    var id = $(this).attr('id')
                    $('#enrollment_section_id').val(id)
                    $('#sections_body tr').each(function(){
                        if($(this).attr('id') == id){
                            $(this).toggleClass('alert-success')
                        }else{
                            $(this).removeClass('alert-success')
                        }
                    });
                })
            }
        });
    }
    var form = '<%= j render :template => 'enrollments/new.html.erb' %>'
    var title = '<%= "Enroll #{@customer.first_name} In New Course" %>'
    $('.modal-title').html(title)
    $('.modal-body').html(form)
    $('#user_modal').modal()

    $('.courses').on('change', function(){
        var url = $(this).val();
        refreshTable(url)
    });

    refreshTable('<%= course_sections_path(Course.first)%>')
});