$(document).ready(function(){
    var form = '<%= j render :template => 'enrollments/show.html.erb' %>'
    var title = '<%= "Enrollment Info" %>'
    $('.modal-title').html(title)
    $('.modal-body').html(form)
    $('#user_modal').modal()
});