<% provide(:title, 'Login') %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="span4 offset5">
        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true %></br>

        <%= f.label :password %>
        <%= f.password_field :password %></br>

        <% if devise_mapping.rememberable? -%>
            <table>
              <tr>
                <td class=“text-top”><%= f.check_box :remember_me %></td>
                <td><%= f.label :remember_me %></td>
              </tr>
            </table>
            </br>
            </div>
        <% end %>
        </div>
    <div class="row">
      <div class="span4 offset5">
        <%= f.submit "Sign in", :class => "btn" %>
<% end %>
</br></br>
<%= render "devise/shared/links" %>
</div>
</div>