<%= form_for [@customer, @parent_transaction, @transaction], :remote =>true do |f| %>
    <% if @transaction.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

          <ul>
            <% @transaction.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :payment_method_id %>
      <br>
      <%= f.collection_select :payment_method_id, PaymentMethod.all, :id, :name %>
    </div>
    <div class="field">
      <%= f.label :amount %>
      <br>
      <h6>$<%= f.text_field :amount %></h6>
    </div>
    <div class="field">
      <%= f.label :description %>
      <br>
      <%= f.text_area :description, :value => 'Payment On - ' + @parent_transaction.description %>
    </div>
    <div class="actions">
      <%= f.submit 'Make Payment', :class => 'btn btn-large btn-primary' %>
    </div>
<% end %>
