$('#user_modal').modal('hide');
$('#new_payment').click();
$.ajax({
    url: '<%= customer_path(@customer) %>',
    complete: function(xhr){
        var response = $($.parseHTML(xhr.responseText)).find('#balance_due').html()
        $('#balance_due').html(response);
    }
});