<% if !@transactions.empty? %>
<table id="transactions_table" class="table table-condensed">
  <caption><h4>Transaction History</h4></caption>
  <thead>
  <tr>
    <th>Transaction Date</th>
    <th>Description</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Balance Due</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @transactions.each do |trans| %>
      <% klass = trans.transaction_id.nil? ? trans.id.to_s + ' parent' : trans.transaction_id.to_s + ' child' %>
      <tr class="<%= klass %>">
        <td class="date"><%= trans.date.strftime('%m/%d/%Y') %></td>
        <td class="description"><%= trans.description %></td>
        <td class="transaction_type"><%= trans.transaction_type.name %></td>
        <td class="amount"><%= sprintf('$%.2f', trans.amount) %></td>
        <td class="amount_owed">
          <% if !trans.transaction_id %>
              <%= sprintf('$%.2f', trans.amount_owed) %>
          <% end %>
        </td>
        <td>
          <% if !trans.transaction_id && trans.amount_owed > 0.0 %>
            <%= link_to new_customer_transaction_transactions_path(@customer, trans), :remote => true do %>
                <button class="btn btn-mini btn-inverse">Make Payment</button>
            <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<% else %>
    <div style="text-align: center"><h4>No Transactions</h4></div>
<% end %>