$(document).ready(function () {
    var selected_transaction_id = null;

    function setTransaction(transaction_id) {
        selected_transaction_id = transaction_id;
    };

    $('#response_area').html('<%= j render :template => 'transactions/index.html.erb' %>')

    $('#transactions_table tbody tr .btn').css('opacity', 0);

    $('#transactions_table tbody tr').hover(
            function () {
                var klass = $(this).attr('class')
                var id = klass.substring(0, klass.indexOf(' '));
                $('#transactions_table tbody tr').each(function () {
                    if ($(this).hasClass('parent') && $(this).hasClass(id)) {
                        $(this).toggleClass('alert-error');
                        $(this).find('button').css('opacity', 1);
                        setTransaction(id);
                    }
                    else if ($(this).hasClass('child') && $(this).hasClass(id)) {
                        $(this).toggleClass('alert-success');
                    }
                });
            },
            function () {
                var klass = $(this).attr('class')
                var id = klass.substring(0, klass.indexOf(' '));
                $('#transactions_table tbody tr').each(function () {
                    if ($(this).hasClass('parent') && $(this).hasClass(id)) {
                        $(this).toggleClass('alert-error');
                        $(this).find('button').css('opacity', 0);
                    }
                    else if ($(this).hasClass('child') && $(this).hasClass(id)) {
                        $(this).toggleClass('alert-success');
                    }
                });
            }
    );

});