$(document).ready(function(){
    var form = '<%= j render :template => 'transactions/new.html.erb' %>'
    var title = '<%= 'Make Payment - ' + @parent_transaction.description %>' + ' – Balance Due: '
               + '<%= sprintf('$%0.2f',@parent_transaction.amount_owed) %>'
    $('.modal-title').html(title)
    $('.modal-body').html(form)
    $('#transaction_amount').val('')
    $('#user_modal').modal()
});
