<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction type:</strong>
  <%= @transaction.transaction_type_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transaction.description %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @transaction.payment_method_id %>
</p>

<p>
  <strong>Transaction:</strong>
  <%= @transaction.transaction_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @transaction.customer_id %>
</p>

<%= link_to 'Edit', edit_customer_transaction_path(@customer, @transaction) %> |
<%= link_to 'Back', customer_transactions_path(@customer) %>
