<h1>Listing instruction_units</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @instruction_units.each do |instruction_unit| %>
      <tr>
        <td><%= link_to 'Show', instruction_unit %></td>
        <td><%= link_to 'Edit', edit_instruction_unit_path(instruction_unit) %></td>
        <td><%= link_to 'Destroy', instruction_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instruction unit', new_instruction_unit_path %>
