<table class="table table-condensed table-hover">
  <thead>
  <tr>
    <th>Attendance</th>
    <th>Date</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.attendance_type.name %></td>
        <td><%= attendance.record_date.strftime('%m/%d/%Y') %></td>
        <td><%= link_to 'Edit', edit_section_attendance_path(@section, attendance), :class => 'btn btn-mini btn-inverse', :remote => true %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

