<%- url = params[:action] == 'new' ? take_section_attendances_path : section_attendance_path(@attendance.enrollment.section, @attendance) %>
<%= form_for([@section, @attendance], :url => url, :remote => true) do |f| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% @attendance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.date_field :record_date, :readonly => 'readonly' %>
    </div>

    <%= fields_for @instruction_unit do |iu|%>
    <div class="field">
      <%= iu.label 'Unit Of Instruction' %>
      <%- disabled = params[:action] == 'new' ? false : true %>
      <%=
          if disabled
            iu.text_field :id, :value => nil, :readonly => true
          else
            iu.collection_select :id, InstructionUnit.where(:course => @section.course), :id, :name
          end
      %>
    </div>
    <% end %>

   <div class= "table">
    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th>Students</th>
        <th>Attendance Status</th>
      </tr>
      </thead>

      <tbody>
      <% @enrollments.each do |enrollment| %>
          <tr>
            <td><%= enrollment.customer.full_name %></td>
            <td><%= f.collection_select(:attendance_type_id, AttendanceType.all, :id, :name, {}, :index => enrollment.id) %></td>
            <%= f.hidden_field :enrollment_id, :value => enrollment.id, :index => enrollment.id %>
          </tr>
      <% end %>
      </tbody>
    </table>
   </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
