$(document).ready(function(){
    var title = "Edit Attendance For <%= @attendance.enrollment.customer.full_name %>"
    var form = "<%= j render :template => 'attendances/edit.html.erb' %>"
    $('.modal-title').html(title)
    $('.modal-body').html(form)
    $('#attendance_record_date').val('<%= @attendance.record_date.strftime('%Y-%m-%d') %>')
    <%-
        cp = CourseProgress.where(:customer => @attendance.enrollment.customer,
                                  :section  => @section);
        iu = nil
        cp.each do |c|
            if @attendance.created_at == c.created_at
                iu = c.instruction_unit
                break
            end
        end
    %>
    <% if iu %>
        $('#instruction_unit_id').val('<%= iu.name %>')
    <% end %>
});