$(document).ready(function(){
    var title = "Take Attendance For <%= @section.course.name %>"
    var form = "<%= j render :template => 'attendances/new.html.erb' %>"
    $('.modal-title').html(title)
    $('.modal-body').html(form)
    $('#user_modal').modal()
    $('#attendance_record_date').val('<%= Date.today.strftime('%Y-%m-%d') %>')
    $('#attendance_record_date').datepicker({dateFormat:'yy-mm-dd', maxDate: 0})
});