<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "CARS" %></title>
    <%= csrf_meta_tags %>

    <link rel="shortcut icon" href="/images/favicon.ico" >

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="<%= root_path %>"><%= full_title(yield(:title)) %></a>
          <div class="container nav-collapse">
            <ul class="nav pull-right">
              <%- if user_signed_in? %>
                  <li>
                    <div class="btn-group">
                      <button type="button" class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                        Settings <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><%= link_to 'Edit Login', edit_user_registration_path %></li>
                        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
                      </ul>
                    </div>
                  </li>

                  <% if current_user.is_employee? %>
                      <li>
                        <div class="btn-group">
                            <%= link_to 'Register New User', new_user_registration_path, :class => 'btn btn-small' %>
                            <%= link_to 'Search Users', users_path, :class => 'btn btn-small' %>
                        </div>
                      </li>
                  <% end %>
              <% else %>
                  <li>
                    <div class="btn-group">
                      <%= link_to 'Sign in', new_user_session_path, :class => 'btn btn-small' %>
                      <%= link_to 'Register', new_user_registration_path, :class => 'btn btn-small' %>
                    </div>
                  </li>
            <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    </br>
    </br>


    <div class="container">
        <div class="row">
          <div class="span12">
            <%= bootstrap_flash %>
            <br>
            <%= yield %>
          </div>
        </div><!--/row-->

      <footer class="foot-height">
        <hr class="footer-hr">
        <div class="row">
          <div class="span11">
            <img src="/images/team_one.png" style="height:87px; width:176px;" >
          </div>
          <div class="span1 pagination-centered">
            </br>
            </br>
            <p>&copy; 2013</p>
          </div>
        </div>
      </footer>

    </div> <!-- /container -->

  </body>
  <%= javascript_include_tag "application" %>
</html>
